<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body id="body-pd" class="body-pd">
    
    
    
    <header class="header body-pd" id="header">
        <h1>Admin</h1>
    </header>

    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div> 
                <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">BBBootstrap</span> </a>
                
                <div class="nav_list"> 
                    <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a> 
                    <a href="./studentsInfo" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Students</span> </a> 
                    <a href="./teachersInfo" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Teachers</span> </a> 
                    <a href="./groupsInfo" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Groups</span> </a> 
                    <a href="./courseInfo" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Courses</span> </a> 
                </div>
            </div> 
            <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <h2>Admin Panel</h2>
    </div>
    <!--Container Main end-->
    
    
    <!-- <script src="js/admin.js"></script> -->
</body>
</html>